{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
{% if user.id == profile.user.id %}
<h1>Edit Profile Page..</h1>
<br>
<br>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class ="btn btn-secondary">Update Profile</button>
    </form>
</div>
{% else %}
 you are not the correct user to edit this page 
{% endif %}
{% else %}
Please login to edit profile 
{% endif %}
{%endblock%}